# Выражения-генераторы

Вам предлагается набор из задачек, для каждой из которых решение — одно выражение-генератор.

### 1. Трансформация выражения (переведите выражение слева в выражение справа):

'python' -> ['pppp', 'yyyy', 'tttt', 'hhhh', 'oooo', 'nnnn']

In [42]:
def solution1(s='python'):
    return [c * 4 for c in s]


solution1()

['pppp', 'yyyy', 'tttt', 'hhhh', 'oooo', 'nnnn']

### 2. Трансформация выражения:

'python' -> ['p', 'yy', 'ttt', 'hhhh', 'ooooo', 'nnnnnn']

In [41]:
def solution2(s='python'):
    return [c * (i + 1) for i, c in enumerate('python')]


solution2()

['p', 'yy', 'ttt', 'hhhh', 'ooooo', 'nnnnnn']

### 3. Трансформация выражения:

range(16) -> [0, 3, 5, 6, 9, 10, 12, 15]

In [43]:
def solution3(a=range(16)):
    return [i for i in a if i % 3 == 0 or i % 5 == 0]


solution3()

[0, 3, 5, 6, 9, 10, 12, 15]

### 4. Трансформация выражения:

[[1, 2, 3], [4, 5, 6, 7], [8, 9], [0]] -> [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

Замечание: запрещается использовать функции chain и chain.from_iterable из модуля itertools.

In [47]:
def solution4(a=[[1, 2, 3], [4, 5, 6, 7], [8, 9], [0]]):
    return [i for sublist in lists for i in sublist]


solution4()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

### 5. Пифагоровы тройки.

Выведите все уникальные пифагоровы тройки, где каждое из чисел не превосходит n. На вход подается число n (n ≤ 30).

15 -> [(3, 4, 5), (5, 12, 13), (6, 8, 10), (9, 12, 15)]

In [49]:
def solution5(n=15):
    return [(i, j, k) for k in range(5, n+1) for j in range(1, k) 
            for i in range(1, j) if i**2 + j**2 == k**2]


solution5()

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15)]

### 6. Трансформация выражения:

([0, 1, 2], [0, 1, 2, 3, 4]) -> [[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6]]

In [58]:
def solution6(a=([0, 1, 2], [0, 1, 2, 3, 4])):
    return [[i + j for j in a[1]] for i in a[0]]
    

solution6()

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6]]

### 7. Транспонирование матрицы.

[[1, 2], [3, 4], [5, 6]] -> [[1, 3, 5], [2, 4, 6]]
[[1, 3, 5], [2, 4, 6]] -> [[1, 2], [3, 4], [5, 6]]

Замечание: запрещается использовать сторонние библиотеки, например, scipy и numpy.

In [56]:
def solution7(A=[[1, 2], [3, 4], [5, 6]]):
    return [[row[i] for row in A] for i in range(len(A[0]))]


solution7(A)

[[1, 3, 5], [2, 4, 6]]

### 8. Трансформация выражения:

["0", "1 2 3", "4 5 6 7", "8 9"] -> [[0], [1, 2, 3], [4, 5, 6, 7], [8, 9]]

In [50]:
def solution8(a=["0", "1 2 3", "4 5 6 7", "8 9"]): 
    return [[int(i) for i in s.split()] for s in a]


solution8()

[[0], [1, 2, 3], [4, 5, 6, 7], [8, 9]]

### 9. Трансформация выражения:

range(0, 7) -> {'a': 0, 'b': 1, 'c': 4, 'd': 9, 'e': 16, 'f': 25, 'g': 36}

Замечание: запрещается использовать ключевое слово dict, используйте фигурные скобки.

In [53]:
def solution9(a=range(7)): 
    return {chr(ord('a') + i): i**2 for i in a}


solution9()

{'a': 0, 'b': 1, 'c': 4, 'd': 9, 'e': 16, 'f': 25, 'g': 36}

### 10. Трансформация выражения:

['Alice', 'vova', 'ANTON', 'Bob', 'kAMILA', 'CJ', 'ALICE', 'Nastya'] -> {'Alice', 'Anton', 'Kamila', 'Nastya', 'Vova'}

Замечание: запрещается использовать ключевое слово set, используйте фигурные скобки.

In [54]:
def solution10(names=['Alice', 'vova', 'ANTON', 'Bob', 'kAMILA', 'CJ', 'ALICE', 'Nastya']):
    return {name.capitalize() for name in names if len(name) > 3}


solution10()

{'Alice', 'Anton', 'Kamila', 'Nastya', 'Vova'}

# map, filter и reduce

Вам предлагается набор из задачек, для каждой из которых решение — одно выражение с использованием функций map, filter и reduce.

### 1. Трансформация выражения (переведите выражение слева в выражение справа):

['12', '25.6', '84,02', '  69-91'] -> [21, 652, 2048, 1996]

In [64]:
import re

In [70]:
def solution1(a=['12', '25.6', '84,02', ' 69-91']):
    return list(map(lambda x: int(re.sub("[^0-9]", "", x[::-1])), a))


solution1()

[21, 652, 2048, 1996]

### 2. Трансформация выражения:

zip(range(2, 5), range(3, 9, 2)) -> [6, 15, 28]

In [72]:
from itertools import starmap

def solution2(a=zip(range(2, 5), range(3, 9, 2))):
    return list(starmap(lambda x, y: x * y , a))


solution2()

[6, 15, 28]

### 3. Трансформация выражения:

range(20) -> [0, 2, 5, 6, 8, 11, 12, 14, 17, 18]

In [74]:
def solution3(a=range(20)):
    return list(filter(lambda x: x % 6 in [0, 2, 5], a))


solution3()

[0, 2, 5, 6, 8, 11, 12, 14, 17, 18]

### 4. Трансформация выражения:

['', 25, None, 'python', 0.0, [], ('msu', '1755-01-25')] -> [25, 'python', ('msu', '1755-01-25')]

In [76]:
def solution4(a=['', 25, None, 'python', 0.0, [], ('msu', '1755-01-25')]):
    return list(filter(lambda x: x, a))


solution4()

[25, 'python', ('msu', '1755-01-25')]

### 5. Добавьте к каждому элементу списка rooms поле square, показывающее площадь комнаты. Элементы списка rooms ДОЛЖНЫ обновиться!

In [84]:
rooms = [
    {"name": "комната1", "width": 2, "length": 4},
    {"name": "комната2", "width": 2.5, "length": 5.6},
    {"name": "кухня", "width": 3.5, "length": 4},
    {"name": "туалет", "width": 1.5, "length": 1.5},
]

def solution5(a=rooms):
    list(map(lambda x: x.update({"square": x["width"] * x["length"]}), rooms))
    return a


solution5(rooms)

[{'name': 'комната1', 'width': 2, 'length': 4, 'square': 8},
 {'name': 'комната2', 'width': 2.5, 'length': 5.6, 'square': 14.0},
 {'name': 'кухня', 'width': 3.5, 'length': 4, 'square': 14.0},
 {'name': 'туалет', 'width': 1.5, 'length': 1.5, 'square': 2.25}]

### 6. Добавьте к каждому элементу списка rooms поле square, показывающее площадь комнаты. Элементы исходного списка rooms НЕ ДОЛЖНЫ обновиться! Порядок элементов в результирующем списке должен совпадать с порядком в исходном списке.

Замечание: запрещается использовать модуль copy.

In [101]:
rooms = [
    {"name": "комната1", "width": 2, "length": 4},
    {"name": "комната2", "width": 2.5, "length": 5.6},
    {"name": "кухня", "width": 3.5, "length": 4},
    {"name": "туалет", "width": 1.5, "length": 1.5},
]

def solution6(a=rooms):
    return list(map(lambda x: dict([*x.items(), ("square", x["width"] * x["length"])]), rooms)) 


solution6(rooms)

[{'name': 'комната1', 'width': 2, 'length': 4, 'square': 8},
 {'name': 'комната2', 'width': 2.5, 'length': 5.6, 'square': 14.0},
 {'name': 'кухня', 'width': 3.5, 'length': 4, 'square': 14.0},
 {'name': 'туалет', 'width': 1.5, 'length': 1.5, 'square': 2.25}]

### 7. Найдите пересечение всех множеств. Используйте функцию reduce.

[{1, 2, 3, 4, 5}, {2, 3, 4, 5, 6}, {3, 4, 5, 6, 7}] -> {3, 4, 5}

In [123]:
from functools import reduce
import operator
from operator import itemgetter

In [131]:
a = [{1, 2, 3, 4, 5}, {2, 3, 4, 5, 6}, {3, 4, 5, 6, 7}]

def solution7(a):
    return set(reduce(lambda x, y: x & y, a))


solution7(a)

{3, 4, 5}

### 8. Посчитайте, сколько раз встречается каждый элемент в списке.

[1, 2, 1, 1, 3, 2, 3, 2, 4, 2, 4] -> {1: 3, 2: 4, 3: 2, 4: 2}

Замечание: запрещается использовать класс Counter из модуля collections.

In [115]:
a = [1, 2, 1, 1, 3, 2, 3, 2, 4, 2, 4]

def solution8(a):
    d = {}
    list(map(lambda x: d.update({x : 1 if d.get(x) is None else d[x] + 1}), a))
    return d


solution8(a)

{1: 3, 2: 4, 3: 2, 4: 2}

### 9. Выведите имена студентов, чей GPA > 4.5.

students -> ['Alina', 'Sergey', 'Valya']

In [135]:
students = [
    {'name': 'Alina', 'gpa': 4.57},
    {'name': 'Sergey', 'gpa': 5.0},
    {'name': 'Nastya', 'gpa': 4.21},
    {'name': 'Valya', 'gpa': 4.72},
    {'name': 'Anton', 'gpa': 4.32},
]

def solution9(a):
    return list(map(itemgeter(0), filter(lambda x: x['gpa'] > 4.5, a)))


solution9(students)

NameError: name 'itemgeter' is not defined

### 10. Счастливые билетики по-питерски.

Билетик называется счастливым, если сумма цифр на четных местах равна сумме цифр на нечетных. Из исходного списка выведите только счастливые билетики.

Пример:

['165033', '477329', '631811', '478117', '475145', '238018', '917764', '394286'] -> ['165033', '475145', '238018']

Замечание: разрешается использовать функцию sum.